<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Restaurant</title>
    <meta charset="UTF-8">
</head>
<body>

<h1>Add User</h1>

<form action="/RestaurantManager/somewhere_else" method="post">
    <p>
        Name: <input type="text" th:field="*{name}">
    </p>
    <p>
        Occupation: <input type="text" th:field="*{location}">
    </p>
    <p>
        Name: <input type="text" th:field="*{category}">
    </p>
    <p>
        <input type="submit" value="Submit"/> <input type="reset" value="Reset">
    </p>
</form>

</body>
</html>